*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff !important;
  background-color: #000000 !important;
}

header {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Cairo", sans-serif;
  grid-area: header;
  background-color: #000000;
}
header nav div .animation-nav:hover {
  border-bottom: 2px solid #29d0fd;
}
header nav div a {
  text-decoration: none;
  width: 20%;
}
header nav div a img {
  width: 40%;
}
header nav div .ul-modify {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 75px;
}
header nav div .dropdown-menu {
  background-color: #000000;
}

.search {
  position: absolute;
  top: 20px;
  right: 5%;
  padding-top: 30px;
}
.search input {
  background: transparent;
  border: none;
  width: 0;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000000;
  outline: none;
  border-radius: 30px;
  transition: all 0.6s ease;
}
.search .btn-search {
  position: absolute;
  top: 20px;
  right: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.search .btn-search img {
  width: 50%;
}

.search:hover input {
  background-color: white;
  width: 150px;
}

.search input:focus {
  width: 240px;
}

@media screen and (max-width: 992px) {
  header nav div button {
    color: white;
  }
  header nav div button svg {
    width: 75px;
    height: 75px;
  }
  header nav div a img {
    width: 100%;
  }
  header nav div .ul-modify {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  header nav div .ul-modify li {
    text-align: center;
  }
  header nav div .ul-modify li a {
    width: 100%;
  }
  header nav div .ul-modify li ul {
    text-align: center;
  }
  header nav div .ul-modify li ul li {
    text-align: center;
  }
  header nav div .ul-modify li ul li a {
    width: 100%;
  }

  .search {
    right: 10%;
    padding-right: 40px;
  }
  .search input {
    height: 50px;
  }
  .search .btn-search {
    right: 40px;
  }
  .search .btn-search img {
    width: 100%;
  }

  .search:hover input {
    width: 240px;
  }
}
@media screen and (max-width: 576px) {
  header nav div button {
    color: white;
  }
  header nav div button svg {
    width: 50px;
    height: 50px;
  }
  header nav div a img {
    width: 150%;
  }
  header nav div .ul-modify {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  header nav div .ul-modify li {
    text-align: center;
  }
  header nav div .ul-modify li a {
    width: 100%;
  }
  header nav div .ul-modify li ul {
    text-align: center;
  }
  header nav div .ul-modify li ul li {
    text-align: center;
  }
  header nav div .ul-modify li ul li a {
    width: 100%;
  }

  .search {
    padding-top: 5px;
    right: 25%;
    padding-right: 0;
  }
  .search input {
    height: 30px;
  }
  .search .btn-search {
    top: -10px;
    right: 0;
  }
  .search .btn-search img {
    width: 60%;
  }

  .search:hover input {
    width: 150px;
  }
}
.fixed-menu {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 15px;
}
.fixed-menu #btn-mas {
  display: none;
}
.fixed-menu #btn-mas:checked ~ .fixed-menu-a a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.fixed-menu #btn-mas:checked ~ .btn-mas img {
  transform: rotate(137deg);
}
.fixed-menu .fixed-menu-a a:hover {
  transform: translateY(-10px) scale(1.15);
}
.fixed-menu .fixed-menu-a a {
  margin-bottom: -15px;
  opacity: 0;
  background: transparent;
}
.fixed-menu .fixed-menu-a a {
  display: block;
  text-decoration: none;
  padding: 2%;
  height: 69px;
  width: 69px;
  line-height: 55px;
  text-align: center;
  background: transparent;
  border-radius: 50%;
  transition: all 500ms ease;
}
.fixed-menu .fixed-menu-a img {
  width: 70%;
  height: auto;
}
.fixed-menu .btn-mas {
  display: block;
  text-decoration: none;
  padding: 2%;
  width: 69px;
  height: 69px;
  line-height: 63px;
  text-align: center;
  background: transparent;
  border-radius: 50%;
  transition: all 500ms ease;
}
.fixed-menu .btn-mas img {
  cursor: pointer;
  width: 70%;
  height: auto;
}

@media screen and (max-width: 576px) {
  .fixed-menu .fixed-menu-a a {
    height: 40px;
    width: 40px;
    line-height: 30px;
  }
  .fixed-menu .btn-mas {
    width: 40px;
    height: 40px;
    line-height: 35px;
  }
}
.general-grid-index-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "title-index" "button-index" "animation-index";
  font-family: "Russo One", sans-serif;
}
.general-grid-index-container .title-index {
  letter-spacing: 10px;
  font-size: 5em;
  grid-area: title-index;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.general-grid-index-container .button-index {
  grid-area: button-index;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.general-grid-index-container .button-index .neon-button {
  font-size: 2rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #29d0fd;
  border: #29d0fd 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsla(0deg, 0%, 100%, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 #29d0fd, 0 0 0.5em 0 #29d0fd;
  position: relative;
}
.general-grid-index-container .button-index .neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: #29d0fd;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}
.general-grid-index-container .button-index .neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em #29d0fd;
  opacity: 0;
  background-color: #29d0fd;
  z-index: -1;
  transition: opacity 100ms linear;
}
.general-grid-index-container .button-index .neon-button:hover,
.general-grid-index-container .button-index .neon-button:focus {
  background: #29d0fd;
  color: hsl(323deg, 21%, 16%);
  text-shadow: none;
}
.general-grid-index-container .button-index .neon-button:hover::before,
.general-grid-index-container .button-index .neon-button:focus::before {
  opacity: 1;
}
.general-grid-index-container .button-index .neon-button:hover::after,
.general-grid-index-container .button-index .neon-button:focus::after {
  opacity: 1;
}
.general-grid-index-container .animation-index {
  grid-area: animation-index;
}
.general-grid-index-container .animation-index div {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.general-grid-index-container .animation-index div img {
  width: 15%;
  height: auto;
  animation: movement 4s infinite alternate;
}
@keyframes movement {
  0% {
    transform: translateX(0) rotateX(0);
  }
  100% {
    transform: translateX(600%) rotate(360deg);
  }
}

@media screen and (max-width: 576px) {
  .general-grid-index-container .title-index {
    letter-spacing: 5px;
    font-size: 2.5em;
  }
  .general-grid-index-container .button-index .neon-button {
    font-size: 1.5em;
  }
  .general-grid-index-container .animation-index div {
    width: 100%;
  }
  .general-grid-index-container .animation-index div img {
    width: 15%;
    animation: movement 4s infinite alternate;
  }
  @keyframes movement {
    0% {
      transform: translateX(0) rotateX(0);
    }
    100% {
      transform: translateX(550%) rotate(360deg);
    }
  }
}
@media screen and (max-width: 280px) {
  .general-grid-index-container .title-index {
    font-size: 2em;
  }
  .general-grid-index-container .button-index .neon-button {
    font-size: 1em;
  }
}
.general-grid-home-container {
  font-family: "Cairo", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1000px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "header header header header header header header header header header header header" "main-a main-a main-a main-a main-a main-a main-a main-bc main-bc main-bc main-bc main-bc" "main-d main-d main-d main-d main-d main-d main-d main-d main-d main-d main-d main-d" "footer footer footer footer footer footer footer footer footer footer footer footer";
}
.general-grid-home-container .home-main-content-a {
  font-weight: bold;
  grid-area: main-a;
  background-image: url("../images/home-main-images/home-background.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.general-grid-home-container .home-main-content-a h1 {
  letter-spacing: 1px;
  margin: 5%;
  font-weight: bold;
}
.general-grid-home-container .home-main-content-a h1 .span-home-main-a-first {
  font-size: 5rem;
}
.general-grid-home-container .home-main-content-a h1 .span-home-main-a-second {
  font-size: 3rem;
}
.general-grid-home-container .home-main-content-a h1 span {
  display: block;
}
.general-grid-home-container .home-main-content-bc {
  grid-area: main-bc;
}
.general-grid-home-container .home-main-content-bc .home-main-c {
  padding: 3% 1% 0 1%;
  display: flex;
  align-items: center;
}
.general-grid-home-container .home-main-content-bc .home-main-c ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0;
}
.general-grid-home-container .home-main-content-bc .home-main-c ul li:hover {
  transform: scale(1) translateY(-10px);
}
.general-grid-home-container .home-main-content-bc .home-main-c ul li {
  transition: 0.5s;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  list-style: none;
}
.general-grid-home-container .home-main-content-bc .home-main-c ul li a {
  display: flex;
  justify-content: center;
}
.general-grid-home-container .home-main-content-bc .home-main-c ul li a img {
  width: 70%;
}
.general-grid-home-container .home-main-content-bc .home-main-c ul li .shopping-cart-main {
  padding-right: 5%;
}
.general-grid-home-container .home-main-content-bc .home-main-c ul li .shopping-cart-main .img-b {
  transition: 2s;
  width: 15%;
}
.general-grid-home-container .home-main-content-bc .home-main-c ul li .shopping-cart-main .img-b:hover {
  transform: translateY(10px) scale(1.5);
}
.general-grid-home-container .home-main-content-bc .home-main-c ul li .shopping-cart-main a {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.general-grid-home-container .home-main-content-bc .home-main-c ul li .home-main-c-a {
  margin: 5%;
  border-top: #fff;
  display: flex;
  justify-content: center;
}
.general-grid-home-container .home-main-content-bc .home-main-c ul li .home-main-c-a h2 {
  margin-top: 5px;
  text-align: center;
  font-size: 1em;
}
.general-grid-home-container .home-main-content-bc .home-main-c ul li .home-main-c-a h2 span {
  display: block;
}
.general-grid-home-container .home-main-content-d {
  background-image: url("../images/home-main-images/home-container-image4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: main-d;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.general-grid-home-container .home-main-content-d div {
  margin: 5%;
  text-align: center;
}
.general-grid-home-container .home-main-content-d div .span-b {
  font-size: 2rem;
}
.general-grid-home-container .home-main-content-d div h2 {
  font-weight: bold;
  font-size: 6rem;
}
.general-grid-home-container .home-main-content-d div h2 span {
  display: block;
}
.general-grid-home-container .home-main-content-d a img {
  width: 100vw;
  height: auto;
}

@media screen and (max-width: 992px) {
  .general-grid-home-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 50vh auto 800px;
    grid-template-areas: "header header header header header header header header header header header header" "main-a main-a main-a main-a main-a main-a main-a main-a main-a main-a main-a main-a" "main-bc main-bc main-bc main-bc main-bc main-bc main-bc main-bc main-bc main-bc main-bc main-bc" "main-d main-d main-d main-d main-d main-d main-d main-d main-d main-d main-d main-d" "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
  .general-grid-home-container .home-main-content-a h1 {
    margin: 5%;
    font-weight: bold;
  }
  .general-grid-home-container .home-main-content-a h1 .span-home-main-a-first {
    font-size: 4rem;
  }
  .general-grid-home-container .home-main-content-a h1 .span-home-main-a-second {
    font-size: 2rem;
  }
  .general-grid-home-container .home-main-content-a h1 span {
    display: block;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c {
    padding: 3% 1% 0 1%;
    display: flex;
    align-items: center;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li:hover {
    transform: scale(1) translateY(-10px);
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li {
    transition: 0.5s;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    list-style: none;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li a {
    display: flex;
    justify-content: center;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li a img {
    width: 70%;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li .shopping-cart-main {
    padding-right: 5%;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li .shopping-cart-main .img-b {
    transition: 2s;
    width: 15%;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li .shopping-cart-main .img-b:hover {
    transform: translateY(10px) scale(1.5);
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li .shopping-cart-main a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li .home-main-c-a {
    margin: 5%;
    border-top: #fff;
    display: flex;
    justify-content: center;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li .home-main-c-a h2 {
    margin-top: 5px;
    text-align: center;
    font-size: 1em;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li .home-main-c-a h2 span {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .general-grid-home-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 40vh auto 400px;
    grid-template-areas: "header header header header header header header header header header header header" "main-a main-a main-a main-a main-a main-a main-a main-a main-a main-a main-a main-a" "main-bc main-bc main-bc main-bc main-bc main-bc main-bc main-bc main-bc main-bc main-bc main-bc" "main-d main-d main-d main-d main-d main-d main-d main-d main-d main-d main-d main-d" "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
  .general-grid-home-container .home-main-content-a h1 .span-home-main-a-first {
    font-size: 2rem;
  }
  .general-grid-home-container .home-main-content-a h1 .span-home-main-a-second {
    font-size: 1rem;
  }
  .general-grid-home-container .home-main-content-bc .home-main-c ul li .home-main-c-a h2 {
    font-size: 0.7em;
  }
  .general-grid-home-container .home-main-content-d div .span-b {
    font-size: 1rem;
  }
  .general-grid-home-container .home-main-content-d div h2 {
    font-weight: bold;
    font-size: 3rem;
  }
  .general-grid-home-container .home-main-content-d div h2 span {
    display: block;
  }
  .general-grid-home-container .home-main-content-d a img {
    width: 100vw;
    height: auto;
  }
}
.general-products-container .carousel-products {
  grid-area: carousel;
}
.general-products-container .products-grid {
  position: relative;
  grid-area: products;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: auto auto 400px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "l-products l-products r-products r-products r-products r-products r-products r-products r-products r-products r-products r-products";
}
.general-products-container .products-grid .video-container-a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.general-products-container .products-grid .video-container-a video {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.general-products-container .products-grid .left-products-part {
  z-index: 0;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 1%;
  grid-area: l-products;
}
.general-products-container .products-grid .left-products-part h2 {
  padding: 0 0 5% 0;
  font-weight: bold;
}
.general-products-container .products-grid .left-products-part div .card-body {
  background-color: transparent;
}
.general-products-container .products-grid .left-products-part div p .btn-modify {
  border-radius: 0;
  background-color: transparent;
  border-right: none;
  border-top: none;
  border-left: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}
.general-products-container .products-grid .left-products-part div p a {
  display: block;
  border-bottom: 2px solid #fff;
  text-decoration: none;
  color: #fff;
}
.general-products-container .products-grid .right-products-part {
  grid-area: r-products;
  z-index: 0;
  padding-top: 2%;
  padding-right: 8%;
}
.general-products-container .products-grid .right-products-part div ul {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
.general-products-container .products-grid .right-products-part div ul li:hover {
  transform: scale(1) translateY(-10px) translateX(5px);
  background-color: rgba(66, 73, 73, 0.95);
}
.general-products-container .products-grid .right-products-part div ul li {
  margin: 1%;
  background-color: rgba(128, 128, 128, 0.5);
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  transition: 1s;
}
.general-products-container .products-grid .right-products-part div ul li span {
  display: block;
}
.general-products-container .products-grid .right-products-part div ul li p {
  padding: 0.5em 0 0 0;
}
.general-products-container .products-grid .right-products-part div ul li .shopping-cart-products {
  border-bottom: 0.1em solid #fff;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.general-products-container .products-grid .right-products-part div ul li .shopping-cart-products img {
  margin-bottom: 10px;
  width: 45px;
  height: 40px;
}

.search-products {
  position: absolute;
  top: 20px;
  right: 5%;
  padding-top: 30px;
}
.search-products input {
  background: transparent;
  border: none;
  width: 0;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000000;
  outline: none;
  border-radius: 30px;
  transition: all 0.6s ease;
}
.search-products .btn-search-products {
  position: absolute;
  top: 35px;
  right: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.search-products .btn-search-products img {
  width: 50%;
}

.search-products:hover input {
  background-color: white;
  width: 150px;
}

.search-products input:focus {
  width: 240px;
}

@media screen and (max-width: 992px) {
  .general-products-container .products-grid {
    grid-template-rows: auto;
    grid-template-areas: "l-products l-products l-products l-products l-products l-products l-products l-products l-products l-products l-products l-products" "r-products r-products r-products r-products r-products r-products r-products r-products r-products r-products r-products r-products";
  }
  .general-products-container .products-grid .right-products-part {
    padding-right: 0;
  }
  .general-products-container .products-grid .right-products-part div ul li span {
    font-size: 1.5em;
    display: block;
  }

  .search-products {
    padding-top: 20px;
    right: 10%;
    padding-right: 40px;
  }
  .search-products input {
    height: 50px;
  }
  .search-products .btn-search-products {
    top: 15px;
    right: 40px;
  }
  .search-products .btn-search-products img {
    width: 100%;
  }

  .search-products:hover input {
    width: 240px;
  }
}
@media screen and (max-width: 576px) {
  .general-products-container .products-grid .video-container-a {
    display: none;
  }
  .general-products-container .products-grid .right-products-part div ul {
    padding: 0;
  }

  .search-products {
    padding: 0;
    right: 30%;
  }
  .search-products input {
    height: 40px;
  }
  .search-products .btn-search-products {
    top: 5px;
    right: 0;
  }
  .search-products .btn-search-products img {
    width: 60%;
  }

  .search-products:hover input {
    width: 150px;
  }
}
main {
  margin: 10px;
}
main .title-return-policy {
  display: flex;
  justify-content: center;
  margin: 2%;
  border-bottom: 2px solid #29d0fd;
}
main .title-return-policy h1 {
  font-family: "Cairo", sans-serif;
  font-size: 3em;
  font-weight: bold;
}
main .description-return-policy {
  font-family: "Cairo", sans-serif;
  flex-direction: column;
  display: flex;
  width: 40%;
  font-size: 1.2em;
  margin: 2%;
}
main .description-return-policy li {
  padding: 1% 0 1% 2%;
  font-style: italic;
}
main .description-return-policy p {
  line-height: 150%;
}

@media screen and (max-width: 769px) {
  main .title-return-policy h1 {
    font-size: 2em;
  }
  main .description-return-policy {
    width: 100%;
    font-size: 1em;
  }
}
.container-grid-contact {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "header header header header header header header header header header header header" "contact contact contact contact contact contact contact contact contact contact contact contact" "footer footer footer footer footer footer footer footer footer footer footer footer";
}
.container-grid-contact .container-main-contact {
  font-family: "Cairo", sans-serif;
  grid-area: contact;
  display: flex;
  background-image: url("../images/contact/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-grid-contact .container-main-contact .container {
  margin: 5% 26% 5% 26%;
  padding: 3% 0 3% 0;
  background-color: rgba(128, 128, 128, 0.5);
  align-items: center;
  display: flex;
  justify-content: center;
}
.container-grid-contact .container-main-contact .container .contact-info {
  height: 100%;
  justify-content: center;
  display: flex;
  width: 15%;
}
.container-grid-contact .container-main-contact .container .contact-info .contact-info-a {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container-grid-contact .container-main-contact .container .contact-info .contact-info-a li {
  list-style: none;
}
.container-grid-contact .container-main-contact .container .contact-info .contact-info-a li a {
  display: flex;
  justify-content: center;
}
.container-grid-contact .container-main-contact .container .contact-info .contact-info-b {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container-grid-contact .container-main-contact .container .contact-info img:hover {
  transform: scale(1.5);
}
.container-grid-contact .container-main-contact .container .contact-info img {
  transition: 1s;
  width: 40%;
}
.container-grid-contact .container-main-contact .form-section {
  margin-right: 4%;
  width: 85%;
  border-radius: 1%;
  background-color: #3e3e3e;
  display: flex;
  flex-wrap: wrap;
}
.container-grid-contact .container-main-contact .form-section .decoration-main-contact {
  background-color: #4d4d4f;
  width: 100%;
  padding: 6px 40px;
}
.container-grid-contact .container-main-contact .form-section .decoration-main-contact .left-part .span1:before {
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: #29d0fd;
}
.container-grid-contact .container-main-contact .form-section .decoration-main-contact .left-part .span2:before {
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: hsl(193deg, 80%, 58%);
}
.container-grid-contact .container-main-contact .form-section .decoration-main-contact .left-part .span3:before {
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: hsl(193deg, 50%, 58%);
}
.container-grid-contact .container-main-contact .form-section .info-form {
  display: flex;
}
.container-grid-contact .container-main-contact .form-section .info-form .contact-us .app-title {
  padding-top: 70px;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  font-size: 2.5em;
  font-weight: bold;
  align-items: flex-start;
}
.container-grid-contact .container-main-contact .form-section .info-form .contact-us .span-block {
  display: block;
}
.container-grid-contact .container-main-contact .form-section .info-form .contact-us .app-title-border {
  border-bottom: 0.3em solid #29d0fd;
}
.container-grid-contact .container-main-contact .form-section .info-form .app-form {
  border-radius: 2%;
  padding: 30px 100px;
}
.container-grid-contact .container-main-contact .form-section .info-form .app-form .app-form-group {
  margin-bottom: 15px;
}
.container-grid-contact .container-main-contact .form-section .info-form .app-form .app-form-group.message {
  margin-top: 40px;
}
.container-grid-contact .container-main-contact .form-section .info-form .app-form .app-form-group.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
.container-grid-contact .container-main-contact .form-section .info-form .app-form .app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}
.container-grid-contact .container-main-contact .form-section .info-form .app-form .app-form-control::placeholder {
  color: rgba(128, 128, 128, 0.5);
}
.container-grid-contact .container-main-contact .form-section .info-form .app-form .app-form-control:focus {
  border-bottom-color: #fff;
}
.container-grid-contact .container-main-contact .form-section .info-form .app-form .app-form-button {
  margin: 10px;
  background: none;
  border: none;
  color: #29d0fd;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.container-grid-contact .container-main-contact .form-section .info-form .app-form .app-form-button:hover {
  color: hsl(323deg, 21%, 16%);
}

@media screen and (max-width: 1200px) {
  .container-grid-contact .container-main-contact .container {
    margin: 5% 10% 5% 10%;
    padding: 5% 0 5% 0;
  }
}
@media screen and (max-width: 992px) {
  .container-grid-contact {
    grid-template-rows: auto 100% auto;
  }
  .container-grid-contact .container-main-contact .container {
    flex-wrap: wrap;
  }
  .container-grid-contact .container-main-contact .container .form-section {
    margin: 0;
  }
  .container-grid-contact .container-main-contact .container .contact-info {
    height: auto;
    width: 100%;
  }
  .container-grid-contact .container-main-contact .container .contact-info .contact-info-a {
    flex-direction: row;
  }
}
@media screen and (max-width: 576px) {
  .container-grid-contact {
    grid-template-rows: auto;
  }
  .container-grid-contact .container-main-contact {
    margin: 3px 3px 0 3px;
  }
  .container-grid-contact .container-main-contact .container {
    margin: 0;
    padding: 3% 0 0 0;
    flex-wrap: wrap;
  }
  .container-grid-contact .container-main-contact .container .contact-info {
    height: auto;
    width: 100%;
  }
  .container-grid-contact .container-main-contact .form-section {
    justify-content: center;
    margin-right: 0;
    width: 100%;
    flex-wrap: wrap;
  }
  .container-grid-contact .container-main-contact .form-section .decoration-main-contact {
    padding: 6px 40px;
  }
  .container-grid-contact .container-main-contact .form-section .info-form {
    max-width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    display: flex;
  }
  .container-grid-contact .container-main-contact .form-section .info-form .contact-us {
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
    display: flex;
    font-size: 1.5em;
  }
  .container-grid-contact .container-main-contact .form-section .info-form .contact-us .app-title {
    padding-top: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    align-items: flex-start;
  }
  .container-grid-contact .container-main-contact .form-section .info-form .contact-us .span-block {
    display: inline;
  }
  .container-grid-contact .container-main-contact .form-section .info-form .app-form {
    padding: 20px 0;
  }
}
.container-main-contact {
  font-family: "Cairo", sans-serif;
  grid-area: contact;
  display: flex;
  background-image: url("../images/contact/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-main-contact .container {
  margin: 5% 26% 5% 26%;
  padding: 3% 0 3% 0;
  background-color: rgba(128, 128, 128, 0.5);
  align-items: center;
  display: flex;
  justify-content: center;
}
.container-main-contact .form-section-log-in {
  margin-right: 4%;
  width: 85%;
  border-radius: 1%;
  background-color: #3e3e3e;
  display: flex;
  flex-wrap: wrap;
}
.container-main-contact .form-section-log-in .decoration-main-contact-log-in {
  background-color: #4d4d4f;
  width: 100%;
  padding: 6px 40px;
}
.container-main-contact .form-section-log-in .decoration-main-contact-log-in .left-part-log-in .span1:before {
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: #29d0fd;
}
.container-main-contact .form-section-log-in .decoration-main-contact-log-in .left-part-log-in .span2:before {
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: hsl(193deg, 80%, 58%);
}
.container-main-contact .form-section-log-in .decoration-main-contact-log-in .left-part-log-in .span3:before {
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: hsl(193deg, 50%, 58%);
}
.container-main-contact .form-section-log-in .info-form-log-in {
  display: flex;
}
.container-main-contact .form-section-log-in .info-form-log-in .contact-us-log-in {
  width: 50%;
}
.container-main-contact .form-section-log-in .info-form-log-in .contact-us-log-in .app-title-log-in {
  padding-bottom: 70px;
  padding-top: 25px;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  font-size: 2.5em;
  font-weight: bold;
  align-items: flex-start;
}
.container-main-contact .form-section-log-in .info-form-log-in .contact-us-log-in .log-in-social-media-a {
  padding: 20px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-main-contact .form-section-log-in .info-form-log-in .contact-us-log-in .log-in-social-media:hover {
  transform: scale(1.1);
}
.container-main-contact .form-section-log-in .info-form-log-in .contact-us-log-in .log-in-social-media {
  transition: 0.6s;
  border-radius: 5px;
  margin: auto;
  height: 40px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #29d0fd;
  color: #fff;
}
.container-main-contact .form-section-log-in .info-form-log-in .contact-us-log-in .log-in-social-media a {
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.container-main-contact .form-section-log-in .info-form-log-in .contact-us-log-in .log-in-social-media a:hover {
  color: hsl(323deg, 21%, 16%);
}
.container-main-contact .form-section-log-in .info-form-log-in .contact-us-log-in .span-block {
  display: block;
}
.container-main-contact .form-section-log-in .info-form-log-in .contact-us-log-in .app-title-border {
  border-bottom: 0.3em solid #29d0fd;
}
.container-main-contact .form-section-log-in .info-form-log-in .app-form {
  border-radius: 2%;
  padding: 30px 100px;
}
.container-main-contact .form-section-log-in .info-form-log-in .app-form .app-form-group {
  margin-bottom: 15px;
}
.container-main-contact .form-section-log-in .info-form-log-in .app-form .app-form-group.message {
  margin-top: 40px;
}
.container-main-contact .form-section-log-in .info-form-log-in .app-form .app-form-group.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
.container-main-contact .form-section-log-in .info-form-log-in .app-form .app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}
.container-main-contact .form-section-log-in .info-form-log-in .app-form .app-form-control::placeholder {
  color: rgba(128, 128, 128, 0.5);
}
.container-main-contact .form-section-log-in .info-form-log-in .app-form .app-form-control:focus {
  border-bottom-color: #fff;
}
.container-main-contact .form-section-log-in .info-form-log-in .app-form .app-form-button {
  margin: 10px;
  background: none;
  border: none;
  color: #29d0fd;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}
.container-main-contact .form-section-log-in .info-form-log-in .app-form .app-form-button:hover {
  color: hsl(323deg, 21%, 16%);
}

@media screen and (max-width: 576px) {
  .container-main-contact .container {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-main-contact .container .form-section-log-in {
    margin: 0;
    width: 100%;
    border-radius: 1%;
    background-color: #3e3e3e;
    display: flex;
    flex-wrap: wrap;
  }
  .container-main-contact .container .form-section-log-in .decoration-main-contact-log-in {
    background-color: #4d4d4f;
    width: 100%;
    padding: 6px 40px;
  }
  .container-main-contact .container .form-section-log-in .decoration-main-contact-log-in .left-part-log-in .span1:before {
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    content: "";
    background-color: #29d0fd;
  }
  .container-main-contact .container .form-section-log-in .decoration-main-contact-log-in .left-part-log-in .span2:before {
    margin-right: 5px;
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    content: "";
    background-color: hsl(193deg, 80%, 58%);
  }
  .container-main-contact .container .form-section-log-in .decoration-main-contact-log-in .left-part-log-in .span3:before {
    border-radius: 50%;
    display: inline-block;
    width: 10px;
    height: 10px;
    content: "";
    background-color: hsl(193deg, 50%, 58%);
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in {
    flex-wrap: wrap;
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in .contact-us-log-in {
    width: 100%;
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in .contact-us-log-in .app-title-log-in {
    padding-bottom: 0;
    padding-top: 5px;
    padding-left: 0;
    flex-direction: row;
    font-size: 2em;
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in .contact-us-log-in .app-title-log-in span {
    padding-left: 10px;
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in .contact-us-log-in .log-in-social-media-a {
    display: none;
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in .contact-us-log-in .log-in-social-media:hover {
    transform: scale(1.1);
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in .contact-us-log-in .log-in-social-media {
    display: none;
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in .contact-us-log-in .app-title-border {
    border-bottom: 0.2em solid #29d0fd;
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in .app-form {
    padding: 30px 0;
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in .container-log-in-mobile {
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-around;
    display: flex;
    width: 100%;
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in .container-log-in-mobile .log-in-social-media-mobile {
    border-radius: 5px;
    margin: auto;
    height: 40px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #29d0fd;
    color: #fff;
  }
  .container-main-contact .container .form-section-log-in .info-form-log-in .container-log-in-mobile .log-in-social-media-mobile a {
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
}
.success-container {
  font-family: "Cairo", sans-serif;
  margin: 5%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.success-container .container-confirmation {
  box-shadow: 0 5px 10px currentColor;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 400px;
  border: 2px solid white;
}
.success-container .container-confirmation .img-success {
  padding: 40px 40px 20px 40px;
  display: flex;
  justify-content: center;
}
.success-container .container-confirmation .img-success img {
  width: 20%;
}
.success-container .container-confirmation .awesome {
  padding: 5px;
}
.success-container .container-confirmation .description-success {
  padding: 20px;
}
.success-container .container-confirmation .button-ok {
  padding: 40px;
}
.success-container .container-confirmation .button-ok a {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  color: #000000;
  padding: 5px 70px;
  background-color: #29d0fd;
}

.container-shopping-cart {
  font-family: "Cairo", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-shopping-cart .container-base {
  display: flex;
  align-items: center;
}
.container-shopping-cart h2 {
  margin: 100px;
  font-size: 2em;
}

@media screen and (max-width: 576px) {
  .container-shopping-cart .dinosaur {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-shopping-cart .container-base {
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .container-shopping-cart .container-base img {
    max-width: 60%;
  }
  .container-shopping-cart .text-shopping-cart {
    text-align: center;
  }
  .container-shopping-cart .text-shopping-cart h2 {
    margin: 0;
    font-size: 1em;
  }
}
footer {
  display: flex;
  padding-left: 5%;
  font-family: "Cairo", sans-serif;
  grid-area: footer;
}
footer .footer-a {
  display: flex;
  align-items: center;
}
footer .footer-a img {
  padding-left: 20px;
  width: 6%;
}
footer .footer-b {
  display: flex;
  padding-top: 2%;
}
footer .footer-b #logo-razer {
  margin: 0 20px 0 20px;
  width: 3%;
}
footer .footer-b #logo-corsair {
  margin: 0 20px 0 20px;
  width: 4%;
}
footer .footer-b #logo-logitech {
  margin: 0 20px 0 20px;
  width: 14%;
}
footer .footer-c {
  padding-top: 5%;
}
footer .footer-c ul {
  padding-left: 5%;
  display: flex;
}
footer .footer-c ul li {
  list-style: none;
}
footer .footer-c ul li a {
  display: flex;
  justify-content: center;
}
footer .footer-c ul li a img {
  width: 10%;
}
footer .footer-d {
  align-items: center;
  display: flex;
  flex-direction: column;
}
footer .footer-d .footer-d-a {
  padding: 0;
  display: flex;
}
footer .footer-d .footer-d-a li {
  list-style: none;
}
footer .footer-d .footer-d-a li .img-footer-fb {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
footer .footer-d .footer-d-a li .img-footer-fb img {
  width: 20%;
}
footer .footer-d .footer-d-a li .img-footer-ig {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}
footer .footer-d .footer-d-a li .img-footer-ig img {
  width: 20%;
}
footer .footer-d .footer-d-a img {
  width: 10%;
}
footer .footer-d .footer-d-b {
  display: flex;
  justify-content: center;
}
footer .footer-d .footer-d-b img {
  width: 50%;
}

@media screen and (max-width: 992px) {
  footer .footer-a img {
    width: 8%;
  }
  footer .footer-b {
    padding-left: 5%;
  }
  footer .footer-b #logo-razer {
    width: 5%;
  }
  footer .footer-b #logo-corsair {
    width: 6%;
  }
  footer .footer-b #logo-logitech {
    width: 20%;
  }
  footer .footer-c ul li img {
    width: 15%;
  }
  footer .footer-d .footer-d-a li .img-footer-fb img {
    width: 40%;
  }
  footer .footer-d .footer-d-a li .img-footer-ig img {
    width: 40%;
  }
  footer .footer-d .footer-d-b img {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  footer {
    padding-left: 15%;
  }
  footer .footer-abc .footer-a {
    height: 50%;
    text-align: center;
  }
  footer .footer-abc .footer-a h3 {
    font-size: 0.8em;
  }
  footer .footer-abc .footer-a img {
    width: 15%;
    padding: 0;
  }
  footer .footer-abc .footer-b {
    display: none;
  }
  footer .footer-abc .footer-c {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 50%;
    padding-top: 0;
  }
  footer .footer-abc .footer-c ul {
    padding-left: 5%;
    display: flex;
  }
  footer .footer-abc .footer-c ul li {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  footer .footer-abc .footer-c ul li img {
    width: 30%;
  }
  footer .footer-d {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  footer .footer-d .footer-d-a {
    padding: 0;
    display: flex;
  }
  footer .footer-d .footer-d-a li {
    list-style: none;
  }
  footer .footer-d .footer-d-a li .img-footer-fb {
    padding: 10px 5px 5px 5px;
    display: flex;
    justify-content: flex-end;
  }
  footer .footer-d .footer-d-a li .img-footer-fb img {
    width: 20%;
  }
  footer .footer-d .footer-d-a li .img-footer-ig {
    padding: 10px 5px 5px 5px;
    display: flex;
    justify-content: flex-start;
  }
  footer .footer-d .footer-d-a li .img-footer-ig img {
    width: 20%;
  }
  footer .footer-d .footer-d-b {
    display: flex;
    justify-content: center;
  }
  footer .footer-d .footer-d-b img {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
