@import '../base/var';

.container-grid-contact {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: "header header header header header header header header header header header header"
  "contact contact contact contact contact contact contact contact contact contact contact contact"
"footer footer footer footer footer footer footer footer footer footer footer footer";

  .container-main-contact {
    font-family: 'Cairo', sans-serif;
    grid-area: contact;
    display: flex;
    background-image: url("../images/contact/background.webp");
    background-repeat: no-repeat;
    background-size: cover;

    .container {
      margin: 5% 26% 5% 26%;
      padding: 3% 0 3% 0;
      background-color: $grayTrans;
      align-items: center;
      display: flex;
      justify-content: center;

      .contact-info {
        height: 100%;
        justify-content: center;
        display: flex;
        width: 15%;

        .contact-info-a {
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          li {
            list-style: none;
            a {
              display: flex;
              justify-content: center;
            }
          }
        }

        .contact-info-b {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

        }

        img:hover {
          transform: scale(1.5);
        }

        img {
          transition: 1s;
          width: 40%;
        }
      }
    }

    .form-section {
      margin-right: 4%;
      width: 85%;
      border-radius: 1%;
      background-color: $grayForm;
      display: flex;
      flex-wrap: wrap;

      .decoration-main-contact {
        background-color: $grayForm-1;
        width: 100%;
        padding: 6px 40px;
        .left-part {

          .span1:before {
            margin-right: 5px;
            border-radius: 50%;
            display: inline-block;
            width: 10px;
            height: 10px;
            content: '';
            background-color: $lightBlue;
          }
          .span2:before {
            margin-right: 5px;
            border-radius: 50%;
            display: inline-block;
            width: 10px;
            height: 10px;
            content: '';
            background-color: $lightBlue-degrade;
          }
          .span3:before {
            border-radius: 50%;
            display: inline-block;
            width: 10px;
            height: 10px;
            content: '';
            background-color: $lightBlue-degrade-1;
          }
        }
      }

      .info-form {
        display: flex;
        .contact-us {
          .app-title {
            padding-top: 70px;
            padding-left: 70px;
            display: flex;
            flex-direction: column;
            font-size: 2.5em;
            font-weight: bold;
            align-items: flex-start;
          }

          .span-block {
            display: block;
          }

          .app-title-border {
            border-bottom: 0.3em solid $lightBlue;
          }
        }

        .app-form {
          border-radius: 2%;
          padding: 30px 100px;

          .app-form-group {
            margin-bottom: 15px;
          }

          .app-form-group.message {
            margin-top: 40px;
          }

          .app-form-group.buttons {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;
          }

          .app-form-control {
            width: 100%;
            padding: 10px 0;
            background: none;
            border: none;
            border-bottom: 1px solid $grayTrans;
            color: $white;
            font-size: 14px;
            text-transform: uppercase;
            outline: none;
            transition: border-color .2s;
          }

          .app-form-control::placeholder {
            color: $grayTrans;
          }

          .app-form-control:focus {
            border-bottom-color: $white;
          }

          .app-form-button {
            margin: 10px;
            background: none;
            border: none;
            color: $lightBlue;
            font-size: 14px;
            cursor: pointer;
            outline: none;
          }

          .app-form-button:hover {
            color: $black-hsl;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container-grid-contact {
    .container-main-contact {
      .container {
        margin: 5% 10% 5% 10%;
        padding: 5% 0 5% 0;
      }
    }
  }
}

@media screen and (max-width:992px) {
  .container-grid-contact {
    grid-template-rows: auto 100% auto;
    .container-main-contact {
      .container {
        flex-wrap: wrap;

        .form-section {
          margin: 0;
        }


        .contact-info {
          height: auto;
          width: 100%;

          .contact-info-a {
            flex-direction: row;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container-grid-contact {
    grid-template-rows: auto;
    .container-main-contact {
      margin: 3px 3px 0 3px;
      .container {
        margin: 0;
        padding: 3% 0 0 0;
        flex-wrap: wrap;

        .contact-info {
          height: auto;
          width: 100%;
        }
      }

      .form-section {
        justify-content: center;
        margin-right: 0;
        width: 100%;
        flex-wrap: wrap;

        .decoration-main-contact {
          padding: 6px 40px;
        }

        .info-form {
          max-width: 100%;
          justify-content: flex-start;
          flex-wrap: wrap;
          display: flex;
          .contact-us {
            width: 100%;
            padding-top: 10px;
            padding-left: 0;
            display: flex;
            font-size: 1.5em;
            .app-title {
              padding-top: 0;
              padding-left: 0;
              display: flex;
              flex-direction: column;
              font-size: 1em;
              align-items: flex-start;
            }

            .span-block {
              display: inline;
            }
          }
          .app-form {
            padding: 20px 0;
          }
        }
      }
    }
  }


}