$black: #000000;
$white: #fff;
$black-hsl: hsl(323 21% 16%);
$lightBlue: #29d0fd;
$grayTrans: rgb(128, 128, 128, 0.5);
$grayTrans95: rgb(66, 73, 73, 0.95);
$grayForm: #3e3e3e;
$grayForm-1: #4d4d4f;
$grayLight: #999;
$pink: #ed1c6f;
$green: #74c54f;